@import "tailwindcss";
@plugin "@tailwindcss/typography";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #303030;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #777777 #303030;
}
